@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --black-rgb: 0, 0, 0;
  --emerald-500-rgb: 52, 211, 153;
  --google-blue: #4285f4;
  --google-red: #ea4335;
  --google-yellow: #fbbc05;
  --google-green: #34a853;
}

body {
  @apply bg-neutral-950 text-neutral-50 antialiased;
}
